body {
    font-family: 'Montserrat', sans-serif;
    ;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 5%;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: large;
}

#weatherIcon {
    padding-left: 20px;
    border-style: solid;
    border-color: black;
    border-width: 0 2px 0 0;
    margin: 10px;
}

#blobContainer {
    background-image: url(blobImages/blobPurple.svg);
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: center;
    height: 80vh;
    display: grid;
}

#main-panel {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 40%;
    padding: 5%;
}

h1 {
    text-align: center;

}

#joke {
    font-size: larger;
    margin: 20px 20% 40px 20%;
    text-align: center;
}

#votingButtons {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
}

.voteIcon {
    margin: 20px;
    background: none;
    border: none;
    font-size: x-large;
    color: rgb(96, 91, 91);
}

.voteIcon:hover {
    color: black;
}

#nextJoke {
    background-color: #3ED3DE;
    color: #fff;
    border-radius: 10px;
    border-color: #3ED3DE;
    padding: 10px 20px;
    margin: -20px;
    font-size: large;
}

.display {
    display: block;
}

.no-display {
    display: none;
}

@media screen and (max-width : 1024px) {

    #main-panel {
        font-size: medium;
    }
}

@media screen and (max-width : 480px) {

    #main-panel {
        height: fit-content;
        font-size: smaller;
    }

    #joke {
        font-size: larger;
        margin: 20px -50px 20px;
    }

    #votingButtons {
        display: flex;
        flex-direction: row;
    }

    #blobContainer {
        margin-top: -80px;
        background-size: 100vh 560vh;
        height: 100vh;

    }
}